body {
	font-size: 16px;
	color: #303030;
	background-color: #F4F4F4;
}
/** HEADER **/
#header-nav {
background-color: #BEBEBE;
border-radius: 0;
border: 0;
}
.navbar-header .navbar-brand {
	color: #202A34;
	font-size: 1.5em;
}
h1 {
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
}
#nav-list {
	background-color: #D0E8D1;
}
#nav-list li {
	border-bottom: 1px solid #202A34; 
}
#nav-list a {
	text-align: center;
}
#nav-list a:hover {
	background-color: #F5FFF1;
	color: #202A34;
}
.navbar-hader button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #202A34;
}
/** CONTENT **/
#our-menu {
	font-size: 1.5em;
	font-weight: bold;
}
#chicken {
	font-size: 1.2em;
	font-weight: bold;
}
#main-content {
	background-color: #BEBEBE;
	padding-bottom: 15px;
}
/** Exstra SMALL DEVICES **/
@media (max-width: 767px) {
	#main-content {
	margin-left: 30px;
	margin-right: 30px;
	padding: 5px 20px;
	}
}